<nav class="nav-menu">
	<ul class="menu-list">
        {% assign menuPages = site.pages | sort: 'menuOrder' %}
    	{% for menuItem in menuPages %}
            {% if menuItem.menuOrder %}
            	{% assign menuItemClass = "" %}
            	{% if menuItem.url == page.url %}
            		{% assign menuItemClass = "active" %}
            	{% endif %}
				<li>
					<a 
						class="{{menuItemClass}}" 
						href="{{ menuItem.url }}">{{ menuItem.title }}</a>
				</li>
            {% endif %}
    	{% endfor %}
	</ul>
</nav>