---
layout: compress
---

{% include head.html %}

{% assign posts_array = "" | split: "" %}
{% if page.category %}
{% for post in site.posts %}
{% if post.categories contains page.category %}
{% assign posts_array = posts_array | push: post %}
{% endif %}
{% endfor %}
{% else %}
{% assign posts_array = site.posts %}
{% endif %}

<body>

    <!-- Container -->
    <div id="container">

        {% include header.html %}

        <div id="content">

            <!-- blog-page-section -->

            <h2>{{page.title}}</h2>

            <section class="blog-page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-page-box iso-call">

                                {% for post in posts_array %}

                                {%- if post.title == 'Retro Pop Magazine makes Boomerang Album of the Year for Betty Boo' and page.title == 'Blog' -%}
                                <div class="blog-post hidden">
                                    {%- elsif post.title == 'Industry Press Features' and page.title == 'Blog' -%}
                                    <div class="blog-post hidden">
                                        {% else %}
                                        <div class="blog-post">
                                            {% endif %}
                                            <div class="post-gallery">

                                                {% if post.youTubeVideoID and post.listthumb != "image" %}
                                                <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/{{post.youTubeVideoID}}?rel=0&amp;showinfo=0"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                                {% else %}
                                                {% if post.thumb %}
                                                <a href="{{ post.url }}" title="View post">
                                                    <img src="{{ post.thumb }}" alt="{{ post.title }}" />
                                                </a>
                                                {% endif %}
                                                {% endif %}

                                            </div>
                                            <div class="post-content">
                                                <ul class="post-meta">
                                                    <li>{{ post.date | date: '%d %B, %Y' }}</li>
                                                </ul>
                                                <h2><a href="{{ post.url }}" title="View post">{{ post.title }}</a></h2>
                                                {% if post.title == "Jeff Beck" %}
                                                <p>It was a really terrible shock to hear of Jeff’s passing in January this year. He was such a young 78 year old, clean living and with a wonderful sense of humour. I was recommended as a candidate to produce Jeff in 2000 and, whilst I was unsure whether I would be the right man for the job, I agreed to meet him at Metropolis Studios. We started working together shortly after our initial meeting - and what resulted over the next few years was 2 albums with Best Rock Guitar Performance Grammy’s for each.<br><a href="{{ post.url }}" title="View post">Read more...</a></p>
                                                {% else %}
                                                <p>{{ post.excerpt }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>

                                {% include blog_sidebar.html %}

                            </div>
                        </div>
            </section>

            <!-- end blog-page-section -->

        </div>
        <!-- End content -->

    </div>
    <!-- End Container -->

    {% include beforeBodyEnd.html %}

</body>

</html>