---
layout: compress
---

{% include head.html %}

<body>

    <!-- Container -->
    <div id="container">
    
        {% include header.html %}

        <div id="content">

            <!-- contact-form-section -->

            <section class="contact-form-section">

                <div class="container">

                    <div class="contact-form-box">

                        <div class="row">

                            <div class="col-sm-8">

                                <h2>Get in touch</h2>

                                {% include contact_form.html %}

                            </div>

                            <div class="col-sm-4">

                                <div class="info-box address">
                                    <h2>Contact Details</h2>
                                    <p>
                                        <span aria-hidden="true" class="fa fa-envelope"></span>
                                        andymwright@mac.com
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <!-- end contact-form-section -->

        </div>
        <!-- End content -->

    </div>
    <!-- End Container -->

    {% include beforeBodyEnd.html %}

</body>

</html>