---
layout: compress
---

{% assign home_items = "" | split: "" %}

{% for item in site.portfolio %}
    {% if item.homepage == true %}
        {% assign home_items = home_items | push: item %}
    {% endif %}
{% endfor %}

{% assign homeItemsArray = home_items | sort: 'homepageOrder' %}

{% include head.html %}

<body>

    <!-- Container -->
    <div id="container">
	
    	{% include header.html %}

        <div id="content">

            <section class="portfolio-section">

                {% assign portfolioCategoryArray = site.portfolio_categories | sort: 'order' %}

                <div class="portfolio-box home">

                    {% for item in homeItemsArray %}

                        {% assign itemCategories = item.category | split: " " %}

                        {% assign categoryArray = "" | split: "" %}

                        {% for cat in itemCategories %}
                            {% assign itemCategory = portfolioCategoryArray | where:"class", cat | first %}
                            {% assign categoryArray = categoryArray | push: itemCategory %}
                        {% endfor %}

                        <div class="project-post {{ item.category }} col-md-3">
                            <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="{{ item.permalink }}">{{ item.title }}</a></h2>
                                    <span>
                                        {% for catItem in categoryArray %}
                                        {% if catItem.title == 'SlowFlow & Dancer' %}
                                            <a href="{{ catItem.permalink }}/">{{ catItem.title }}</a>
                                         {% else %}
                                             <a href="{{ catItem.permalink }}">{{ catItem.title }}</a>
                                         {% endif %}
                                            <br />
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </div>


                    {% endfor %}

                </div>

            </section>

            <section class="about-section">
                
                <div class="container">

                    <div class="about-box">

                        <div class="row">

                            <div class="col-sm-4">

                                <div class="about-post">
                                    <h2>Biography</h2>
                                    <p>Like many music industry movers and shakers, Andy Wright owes something of his success to a small ad in Melody Maker. Circa 1984...</p>
                                    <p><a href="/bio">Read More</a></p>
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="about-post">
                                    <h2>The Blog</h2>
                                    <p>Get the latest news on events, projects, collaborations and sounds from Andy, and his team that make it happen, on his blog...</p>
                                    <p><a href="/blog">Visit the blog</a></p>
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="about-post">
                                    <h2>Contact</h2>
                                    <p>If you are interested in working with Andy and his team then get in touch. Call or email about your project. Why not also follow him on twitter...</p>
                                    <p><a href="/contact">Get in touch</a></p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </div>
        <!-- End content -->

    </div>
    <!-- End Container -->

    {% include beforeBodyEnd.html %}

</body>

</html>