---
layout: compress
---

{% include head.html %}

<body>

    <!-- Container -->
    <div id="container">
    
        {% include header.html %}

        <div id="content">

            <!-- portfolio-section -->
            <section class="portfolio-section">

                <h2>{{ page.title }}</h2>

                {% assign portfolioCategoryArray = site.portfolio_categories | sort: 'order' %}

                <ul class="filter">
                    <li><a class="active" href="#" data-filter="*">all</a></li>
                    {% for collection in portfolioCategoryArray %}
                        {% assign categoryType = collection.class | downcase %}
                        {% if collection.title == 'SlowFlow & Dancer' %}
                        <li class="hidden"><a href="#" data-filter=".{{categoryType}}">{{ collection.title }}</a></li>
                        {% else %}
                        <li><a href="#" data-filter=".{{categoryType}}">{{ collection.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="portfolio-box iso-call">

                    {% assign portfolioItems = site.portfolio | sort: "title" %}

                    {% for item in portfolioItems %}

                        {% assign itemCategories = item.category | split: " " %}

                        {% assign categoryArray = "" | split: "" %}

                        {% for cat in itemCategories %}
                            {% assign itemCategory = portfolioCategoryArray | where:"class", cat | first %}
                            {% assign categoryArray = categoryArray | push: itemCategory %}
                        {% endfor %}

                        <div class="project-post {{ item.category }}">
                            <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="{{ item.permalink }}">{{ item.title }}</a></h2>
                                    <span>
                                        {% for catItem in categoryArray %}
                                            <a href="{{ catItem.permalink }}">{{ catItem.title }}</a>
                                            <br />
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            </section>
            <!-- end portfolio-section -->

        </div>
        <!-- End content -->

    </div>
    <!-- End Container -->

    {% include beforeBodyEnd.html %}

</body>

</html>